/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.idea/
config/database.yml

# rspec failure tracking
.rspec_status
node_modules

# Ignore master key for decrypting credentials and more.
/config/master.key
.idea
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/log/test.log
